.App {
  text-align: center;
}

.Navbar{
  background-color: rgb(19, 19, 19) !important;
}

.header{
  font-size: 25px ;
  font-weight: 700 ;
}

.links {
  text-decoration: none;
  color:black;
  margin: 10px;
  font-weight: 700;
  font-size: 22px;
}